{% extends './template_padre.html' %}
{% load static %}

{% block contenidoQueCambia	%}

<h1 style="text-align: center"> Esta es la pestaña ventas </h1>

{% if mi_formulario.error %}
<p style="color:red"> Datos Invalidos! </p>
{% endif %}

<br>
<br>
<h2> Formulario - Ingresar Venta: </h2>
<br>
<form action="/ventas/ingresar_venta/" method="POST"> {% csrf_token %}
    <table>
        {{mi_formulario.as_table}}
    </table>
    <br>
    <input type="submit" value="Guardar">
    <br>
</form>

{% endblock contenidoQueCambia %}